:root {
  --blue: #89b4fa;
  --mauve: #cba6f7;
  --lavender: #b4befe;
  --violet: #1e1e2e;
  --dark-violet: #181825;
  --darkest: #11111b;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --red: #f38ba8;
  --white: #cdd6f4;
  --pink: #f5c2e7;
  --rosewater: #f5e0dc;
  --orange: #fab387;
  --teal: #94e2d5;
  --maroon: #eba0ac;
  --sapphire: #74c7ec;
  --sky: #89dceb;
}
