:root {
    --blue: #89b4fa;
    --mauve: #cba6f7;
    --lavender: #b4befe;
    --violet: #1e1e2e;
    --dark-violet: #181825;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --red: #f38ba8;
    --white: #cdd6f4;
    --pink: #f5c2e7;
    --rosewater: #f5e0dc;
    --normal: 24px;
}