.hidden {
  display: none;
}

.bold {
  font-weight: 800;
}

.red {
  color: var(--red);
}

.pink {
  color: var(--pink);
}

.rosewater {
  color: var(--rosewater);
}

.blue {
  color: var(--blue);
}

.yellow {
  color: var(--yellow);
}

.white {
  color: var(--white);
}

.hover:hover {
  cursor: pointer;
}

.green {
  color: var(--green);
}

.orange {
  color: var(--orange);
}

.violet {
  color: var(--violet);
}

.mauve {
  color: var(--mauve);
}

.teal {
  color: var(--teal);
}

.maroon {
  color: var(--maroon);
}

.sapphire {
  color: var(--sapphire);
}

.sky {
  color: var(--sky);
}

.lavender {
  color: var(--lavender)
}

.flamingo {
  color: var(--flamingo);
}

b {
  font-weight: 800;
}