@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pixelify+Sans:wght@400..700&display=swap");
@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  --noise-url: url("/assets/images/rainbow.png");
  --normal: 24px;
  --small: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  position: relative;
  background-color: var(--violet); /* base background */
  min-height: 100vh;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/design.png");
  z-index: -1;
}

.noisecont {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
  z-index: 9999;
  pointer-events: none;
}

.noisecont::before {
  content: "";
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: var(--noise-url);
  animation: noise 0.1s linear infinite;
}
@keyframes noise {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% -5%;
  }
  30% {
    background-position: 5% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
  100% {
    background-position: 0 0;
  }
}
header {
  height: 27vh;
  /* background-color: var(--violet); */
  /* border: 2px solid red; */
  display: flex;
  position: relative;
}
header .hey {
  position: relative;
  width: 70vw;
  /* border: 2px solid red; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
header .hey img {
  position: absolute;
  margin-left: 100px;
}

header .instructions {
  display: flex;
  flex-direction: column;
  color: var(--rosewater);
  font-size: var(--normal);
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  margin-top: 100px;
  width: 30vw;
}

header .instructions:hover {
  cursor: pointer;
}

*[data-tooltip] {
  position: relative;
}
*[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 25%;
  right: 50%;
  transform: translateX(-50%);
  background-color: var(--darkest);
  color: var(--white);
  padding: 15px 10px;
  border: 2px solid var(--mauve);
  border-radius: 5px;
  font-size: var(--small);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  width: 200px; /* Set your desired width */
  height: 60px; /* Set your desired height */
  display: flex; /* Center content vertically and horizontally */
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden; /* Hide overflow if content is too large */
  white-space: normal;
}
*[data-tooltip]:hover::before {
  opacity: 1;
}

main {
  height: 70vh;
  /* background-color: var(--violet); */
  display: flex;
}

.left {
  /* border: 2px solid green; */
  width: 45%;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  /* border: 2px solid red; */
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--lavender);
  padding: 10px;
  gap: 10px;
  border-left: 2px solid var(--lavender);
  /* transition: all 0.2s ease-in; */
}

nav ul li {
  width: 25vw;
  /* border: 2px solid green; */
  font-size: var(--normal);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.1s ease-in;
}

nav {
  display: flex;
  color: var(--white);
  font-size: var(--normal);
  gap: 30px;
}
nav ul li i {
  font-size: 26px;
}

.file {
  color: var(--blue);
}

.file:hover,
.file.active {
  color: var(--dark-violet);
  background-color: var(--blue);
}

.directory {
  color: var(--mauve);
}

.directory:hover,
.directory.active {
  color: var(--dark-violet);
  background-color: var(--mauve);
}

.right {
  /* border: 2px solid yellow; */
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal {
  width: 80%;
  min-height: 75%;
  border: 3px solid var(--lavender);
  background-color: var(--darkest);
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-bottom: 0px;
  gap: 30px;
}

.prompt {
  /* border: 2px solid green; */
  font-size: var(--normal);
  line-height: 30px;
  align-content: center;
}

.prompt .text {
  /* border: 2px solid grey; */
  align-content: center;
  margin-left: 40px;
}

.content {
  /* border: 2px solid red; */
  color: var(--rosewater);
  font-weight: 500;
  font-size: var(--normal);
  padding: 0 60px;
}

.aboutmelink {
  color: var(--mauve);
  text-decoration: none;
}
.aboutmelink:hover {
  color: var(--lavender);
}

.content .habbits {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content .habbits .habbititem {
  display: flex;
  justify-content: space-between;
}

.content .habbits .habbititem div {
  text-align: left;
  width: 33%;
}

.content .habbits .habbititem a {
  color: var(--green);
  text-decoration: none;
}

.content .habbits .habbititem a:hover {
  color: var(--teal);
}

.content .skills {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.lang,
.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
}

.lang div,
.tools div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  height: 80px;
  width: 90px;
  gap: 10px;
}

.lang div i,
.tools div i {
  font-size: 40px;
}

.lang div span,
.tools div span {
  font-size: 20px;
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content .project .group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .project .group div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.content .project .group .projectimage {
  border: 2px solid var(--mauve);
  width: 500px; /* Set your desired width */
  height: 300px; /* Set your desired height */
}

.projectimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.leftarr,
.rightarr {
  margin: 40px;
  font-size: 40px;
}
.leftarr:hover,
.rightarr:hover {
  cursor: pointer;
  color: var(--orange);
}

.content .project .projectname {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content .project .projectname a {
  text-decoration: none;
  color: var(--blue);
}
.content .project .projectname a:hover {
  color: var(--sapphire);
}
.project .projectname div {
  font-size: var(--small);
}

.content .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 30vh;
  column-gap: 50px;
  margin-top: 30px;
}

.content .contact > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  /* border: 2px solid red; */
  width: 40%;
  height: 75px;
  gap: 15px;
  text-decoration: none;
}

.content .contact > a i {
  font-size: 50px;
}

.content .contact > a .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content .contact > a .details .userid {
  font-size: var(--small);
  color: var(--white);
  margin-top: -5px;
}

.content .credits {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
}

.content .credits .used {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-size: 22px;
  margin-top: 30px;
}

.content .credits .used div {
  display: flex;
  flex-direction: column;
}

.content .credits .used div a {
  text-decoration: none;
  color: var(--green);
  display: flex;
}

.content .credits .used div a:hover {
  color: var(--teal);
}

.content .credits .used div a div:hover {
  color: var(--lavender);
}

footer {
  height: 3vh;
  width: 100vw;
  background-color: var(--darkest);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--normal);
  font-weight: 600;
  padding: 0 20px;
}

footer div > span {
  display: inline-block;
  min-width: 150px;
  text-align: right;
}

@media (max-width: 1750px) {
  .right {
    width: 65%;
  }
  /* .terminal {
    width: 90%;
  } */
  .left {
    width: 35%;
  }
  .projectimage img {
    width: 450px;
  }
  .lang,
  .tools {
    gap: 10px 7px;
  }
}

@media (max-width: 1500px) {
  .terminal {
    width: 85%;
    padding: 30px;
    min-height: 70%;
  }
  :root {
    --normal: 22px;
    --small: 18px;
  }
  .prompt .text {
    line-height: 26px;
  }
  header .hey img {
    width: 60vw;
    bottom: 30px;
  }
  .content .contact > a {
    width: 45%;
  }
  .terminal .contact {
    /* font-size: var(--small); */
    text-overflow: ellipsis;
    margin-top: 0;
  }
  .content .contact > a .details .userid {
    overflow-wrap: anywhere;
    text-align: left;
  }
}

@media (max-width: 1250px) {
  .content {
    padding: 0px;
  }
  .content .contact > a i {
    font-size: 40px;
  }
}

@media (max-height: 850px) {
  header {
    height: 23vh;
  }
  main {
    height: 74vh;
  }
  :root {
    --normal: 20px;
    --small: 16px;
  }
  .terminal {
    height: 65%;
    gap: 10px;
  }
  .terminal .prompt div{
    margin-top: -10px;
  }
  .content .project .group .projectimage {
    width: 350px;
    height: 240px;
  }

  .projectimage img {
    width: 100%;
    height: 100%;
  }
  .rightarr,
  .leftarr {
    font-size: 30px;
  }
  .content .contact{
    justify-content: space-around;
  }
  .content .credits .used {
    font-size: 18px;
    margin-top: 0;
  }
  .content .credits>div{
    margin-top: 20px;
  }
  .lang div, .tools div {
    width: 70px;
    height: 60px;
  }
  .lang div i, .tools div i {
    font-size: 35px;
  }
  .lang div span, .tools div span {
    font-size: 16px;
  }
  .content .habbits{
    gap: 11px;
    padding-left: 30px;
    margin-top: 10px;
  }
  .content .contact {
    height: 35vh;
  }
}
